
header {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Megrim";
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ABC5C8;
  height: 100vh;
  animation: header-to-top 1.1s 4.2s ease-out forwards;
}

object {
  width: 500px;
  height: auto;
}

